.footer
    .container
        .row
            .col-xs-12.col-md-7
                hr.m-b-2
                include intro.pug
                hr.m-t-2
                div.text-muted
                    | !{(new Date()).getFullYear()} &copy; Jim Le. Views are my own.