.header
    .container
        .row
            .col-xs-8
                .header__column
                    .header__cell
                        .header__title.shutter
                            .shutter__inner
                                a(href=url('/')) jimle.uk
                                a(href=url('/')) Back to Homepage