- var groupedPosts = groupPostsByDate(posts, 'MMMM YYYY')
- var sortedGroupedPostKeys = sortGroupedPostsKeys(groupedPosts)
.post__feed
    each key in sortedGroupedPostKeys
        each post in groupedPosts[key]
            .post__feed-item
                div.post__feed-item-left #{dateFormat(post.date, 'MMM YYYY')}
                div.post__feed-item-right
                    a(href=post.permalink) #{post.title}