extends ../templates/root.pug

block overrides
    - var title = 'Welcome'

block body
    .content
        .container
            .row
                .col-xs-12.col-lg-7
                    - var post = getLatestPost(posts)
                    include ../templates/post_feed.pug
