extend ../templates/root.pug

block overrides
    - var title = 'Welcome'

block header
block footer

block body
    .nav
        .nav__row
            .container-fluid
                .row
                    .col-xs-12
                        a.nav__item.nav__brand(href='/') JIMLE.UK
                        span.nav__item.nav__social
                            a(href="https://twitter.com/jimle_uk") @jimle_uk
                        span.nav__item.nav__tagline About products and Javascript
        .nav__row.nav__row_dark
            .container-fluid
                .row
                    .col-xs-12
                        .nav__item 🔥 Available for hire! <a href="mailto:jim@height.io">Get in touch</a>
    .content
        .container-fluid
            .row
                .col-xs-12.col-md-8.col-lg-6
                    .post__feed_list
                        each post, i in posts.slice(0, 5)
                            include ../templates/post_feed.pug
                .col-xs-12.col-md-4.col-lg-6.col-lg-offset-0
                    .row
                        .col-xs-12.col-lg-6
                            .row
                                .col-xs-12.col-sm-6.col-md-12
                                    include ../templates/intro.pug
                                    hr
                                .col-xs-12.col-sm-6.col-md-12
                                    h3 Archive
                                    each group, key in groupPostsByDate(posts, 'MMMM YYYY')
                                        strong #{key}
                                        ul
                                            each post in group
                                                li
                                                    a(href=post.permalink) #{post.title}
