// =============================================================================
// post
// =============================================================================
.post__title {
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
        font-size: 64px;
        line-height: 1.2;
    }
}

.post__author__img {
    display: inline-block;
    min-width: 97px;

    img {
        width: 72px;
        height: auto;
    }
}

.post__author {
    display: block;
    font-size: 14px;
}

.post__meta {
    display: inline-block;
    font-weight: 700;
    vertical-align: middle;
}

.post__tags {
    a {
        margin-right: 5px;
        color: $gray_dark;
        &:hover {
            color: $red;
        }
    }
}

.post__body {
    font-size: 14px;

    h3{
        margin-top: $padding_large_vertical * 3;
        margin-bottom: $padding_large_vertical;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    sup{
        font-size: 85%;
    }
    pre{
        margin-top: $padding_medium_vertical;
        margin-bottom: $padding_large_vertical;
        padding-top: $padding_medium_vertical;
        padding-bottom: $padding_medium_vertical;
        padding-left: $padding_medium_horizontal;
        border: 1px dotted $gray;
    }
    blockquote{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        padding-left: 20px;
        border-left: 1px solid $gray;
        color: $gray_darker;
    }

    .footnotes {
        margin-top: $padding_large_vertical * 2;
        margin-bottom: $padding_large_vertical * 2;
        font-size: 12px;
        ol {
            padding-left: $padding_medium_horizontal;
        }
    }

    hr.footnotes-sep {
        margin-top: $padding_large_vertical * 3;

        &::after {
            content: 'footnotes';
            position: absolute;
            margin-top: -1rem;
            margin-left: 1rem;
            padding-right: 6px;
            padding-left: 6px;
            font-size: 12px;
            color: $gray_dark;
            background-color: #fafafa;
        }
    }
}

.post__footer{
    margin-top: 120px;
}

// =============================================================================
// post card
// =============================================================================
.post__card {
    margin-bottom: 32px;
    h2 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 18px;
    }
}

// =============================================================================
// post feed
// =============================================================================
.post__feed_list {
    .post__feed {
        &:nth-child(n+2) {
            display: none;
        }
    }

    @media (min-width: $screen_sm_min) {
        .post__feed {
            &:nth-child(n+2) {
                display: block;
            }
        }
    }
}

.post__feed {
    margin-bottom: 64px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid $gray;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
    }
}

.post__feed_head {
    margin-bottom: 32px;
}

// =============================================================================
// index
// =============================================================================
.postindex {
    padding-bottom: 60px;
}

