.tagindex {
    padding-bottom: 60px;
}
.tagindex__item {
    width: 23%;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
    h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
        text-transform: capitalize;
    }
}