$font-family-brand: 'Asap', Helvectica, Arial, sans serif;
$font-family-sans-serif: Helvectica, Arial, sans serif;
$font-family-serif: Georgia, serif;

$black: #000;
$white: #fff;

$red: #ff2828;

$gray_darkest: #333;
$gray_darker: #666;
$gray_dark: #999;
$gray: #ccc;
$gray_light: #eee;
$gray_lighter: #fbfbfb;
$gray_lightest: #fefefe;

$fontsize_xsmall: 8px;
$fontsize_small: 10px;
$fontsize_base: 12px;
$fontsize_medium: 14px;
$fontsize_large: 16px;
$fontsize_xlarge: 18px;

$padding_xsmall_vertical: 2px;
$padding_small_vertical: 5px;
$padding_base_vertical: 10px;
$padding_medium_vertical: 15px;
$padding_large_vertical: 20px;
$padding_xsmall_horizontal: 5px;
$padding_small_horizontal: 5px;
$padding_base_horizontal: 10px;
$padding_medium_horizontal: 15px;
$padding_large_horizontal: 20px;

$screen_sm_min: 768px;